/Adapter_Cycle_Metrics.csv
/Adapter_Metrics.csv
/Demultiplex_Stats.csv
/Demultiplex_Tile_Stats.csv
/fastq_list.csv
/Index_Hopping_Counts.csv
/Quality_Metrics.csv
/Quality_Tile_Metrics.csv
/Top_Unknown_Barcodes.csv
/RunInfo.xml
